
 .nav-links {
    
    gap: 1rem;
  }
.bg
{
    background-color:rgb(239, 246, 248) ;
 border: 2px solid;
 padding: 9px;
}
  
    .nav img
    {
        top: 0px;
        justify-content: center;
    
         /* margin-top: 0px;
         margin-bottom: 0px; */
         display: flex;
        align-items: center;
        position: relative;
        font-style: italic;
        font-size: 130%;
        float: left;
        border-radius: 50%;
        
    }
    ul  {
       margin-top: 0%;
       top: 0%;
     align-items: center;
     justify-content: center;
     list-style-type:none;
     /* bottom:100%; */
      position: relative;
      display:flex;
     padding-left:450px;
     gap: 60px;
     /* color: rgb(21, 219, 233); */
     font-size: 20px;

     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li
{
    text-align: center;
    
       
}

 /* a{
    text-decoration: none;
    color: rgb(120, 224, 238);
} */
 a {
  text-decoration: none;
  position: relative;
  transition: 0.4s;
  
       color: rgb(219, 122, 175);
}

a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  top: 25px;
  bottom:0;
  left: 50%;
  background-color: #4312c7;
  transition: all 0.4s;
  border-radius: 40%;
}

.nav a:hover::before {
  width: 100%;
  left: 0;
  
  background-color: #ec12bd; 
}

    .course h2{
        text-align: center;
        color: black;
        background-color: cadetblue;
        
        margin-left: 500px;
        width: 20%;
        border-radius: 20%;
        font-size: 40px;
    }
    .course h1{
        text-align: center;
        color: brown;
    }
        div {
            transition: background-color 0.5s ease-in-out;
            transition-delay: 1s; /* Delay the background color transition by 1 second */
        }

        div:hover {
            background-color: gray;
        }
                @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        p {
            animation-name: fadeIn;
            animation-duration: 2s;
            animation-delay: 3s; /* Delay the fade-in animation by 3 seconds */
        }

